<h1 class="HomeTitle">Welcome to my Todo Page</h1>
<h3 class="HomeAuthentication">
  If you are a new user,<%= link_to "SignUp here", new_user_path%>
</h3>
<h3 class="HomeAuthentication">
  If you are existing user,<%= link_to "SignIn here", new_sessions_path%>
</h3>
