.HomeTitle{
  font-size: 30px;
  margin-bottom: 30px;
}
.HomeAuthentication{
  font-size: 20px;
  margin-bottom: 30px;
}
.UserHeader{
  padding: 10px;
  background-color: lightgrey;
  font-size: 14px;
  margin-bottom: 10px;
}
